<!-- About Dr. Swift Section -->
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">ABOUT DR. SWIFT</h2>
            <h3 class="section-subheading text-muted">Scientific Adventures</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <ul class="timeline">
              <li>
                <div class="timeline-image">
                  <img class="img-circle img-responsive" src="img/WebPage/about/baby.png" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>1978</h4>
                    <h4 class="subheading">Beginnings</h4>
                  </div>
                    <div class="timeline-body">
                      <p class="text-muted">I was born in San Jose, CA and lived there until I was one, when my parents relocated to Santa Barbara CA, where I was raised.</p>
                    </div>
                  </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <img class="img-circle img-responsive" src="img/WebPage/about/SBCC_logo.jpg" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>1998 - 2003</h4>
                    <h4 class="subheading"><a class="timeline-link" href="http://www.sbcc.edu" target="_blank">Santa Barbara City College</a></h4>
                  </div>
                    <div class="timeline-body">
                      <p class="text-muted">As a student at Santa Barbara City college, I fell into the sciences and teaching. There, I tutored general and organic chemistry for the Chemistry Department and algebra, precalculus and calculus for the Math Department. I graduated with <i>honors</i> and earned AA degrees in liberal studies, chemistry, math and an AS degree in physics.</p>
                    </div>
                </div>
              </li>
              <li>
                <div class="timeline-image">
                  <img class="img-circle img-responsive" src="img/WebPage/about/ucsb_logo.jpg" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>2003 - 2005</h4>
                    <h4 class="subheading"><a class="timeline-link" href="http://www.ucsb.edu" target="_blank">UC Santa Barbara</a></h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">I transferred to UC Santa Barbara as a chemical engineering major but changed to biochemistry after realizing how much I enjoyed the blend of organic chemistry and biology it offers.  For two years, I worked for <a class="timeline-link" href="http://clas.sa.ucsb.edu" target="_blank">Campus Learning Assistance Services</a> tutoring general and organic chemistry, which solidified my interest in teaching. I graduated with <i>highest honors</i> and a BS in biochemistry.</p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <img class="img-circle img-responsive" src="img/WebPage/about/UCSD_logo.jpg" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>2005 - 2009</h4>
                    <h4 class="subheading"><a class="timeline-link" href="https://ucsd.edu/" target="_blank">UC San Diego</a></h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">My graduate research in the <a class="timeline-link" href="http://www-chem.ucsd.edu" target="_blank">Department of Chemistry and Biochemistry</a> was multidisciplinary, and I performed physics-based computer simulations of enzymes to study the relationship between enzyme motion and function. I was also a teaching assistant for a variety of lower and upper division chemistry courses and earned an MS and PhD, both in chemistry.</p>
                  </div>
                </div>
              </li>
              <li>
                <div class="timeline-image">
                  <img class="img-circle img-responsive" src="img/WebPage/about/beyond.png" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>2009 - 2016</h4>
                    <h4 class="subheading">Postdoc and Beyond</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">I did postdoctoral research at <a class="timeline-link" href="https://uci.edu" target="_blank">UC Irvine</a> in the <a class="timeline-link" href="http://pharmsci.uci.edu/" target="_blank">Pharmaceutical Sciences Department</a>. There, I developed computer models to enable drug discovery and design. After two years, I returned to UC San Diego as a project scientist. I continued to research and taught for the Department of Chemistry and Biochemistry. I also put my programing skills to use as research programer for the <a class="timeline-link" href="https://www.drugdesigndata.org/" target="_blank">Drug Design Data Resource</a> and as a consultant in the Scientific Computing Department at <a class="timeline-link" href="http://www.dartneuroscience.com/" target="_blank"> Dart Neuroscience.</a></p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <img class="img-circle img-responsive" src="img/WebPage/about/csusm_logo.png" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>2016 - 2017</h4>
                    <h4 class="subheading"><a class="timeline-link" href="http://www.csusm.edu" target="_blank">Cal State University San Marcos</a></h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">I want to make a positive impact on the next generation of STEM students, so I returned to school to earn a teaching credential and begin a career as a high school teacher. Backed by generous scholarships from the <a class="timeline-link" href="http://nsfnoyce.org" target="_blank">National Science Foundation</a> and the <a class="timeline-link" href="https://www.acs.org/content/acs/en/funding-and-awards/scholarships/hachsecondcareer.html" target="_blank">American Chemical Society</a>, I'm currently completing a secondary teaching credential in chemistry.</p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <!--<h4>Fiction
                  <br>High</h4>-->
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
